<div id="reset-password-view">
    <div class="row">

        <div class="login-wrapper">
            <div class="text-center">
                <h2 class="fadeInUp animation-delay4" style="font-weight:bold">
                    <span class="text-success">Licensure</span> <span style="color:#ccc; text-shadow:0 1px #fff">Log</span>
                </h2>
            </div>
            <div class="login-widget animation-delay1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-plus-circle fa-lg"></i> Reset your Password
                    </div>
                    <div class="panel-body">
                        <form class="form-login">

                            <div ng-show="error.message" class="error">
                                <p>{{error.message}}</p>
                            </div>

                            <div class="form-group" ng-class="{error: error.errors.email}">
                                <label>Email</label>
                                <input type="text" placeholder="Email Address" class="form-control input-sm bounceIn animation-delay2" ng-model="email" />
                                <div ng-show="error.errors.email">
                                    <div ng-repeat="field_error in error.errors.email">{{field_error}}</div>
                                </div>
                            </div>

                            <hr/>
                            <div class="form-group">
                                <div class="controls text-right">
                                    <!--<a class="btn btn-success btn-sm bounceIn animation-delay7 login-link" href="login.html"><i class="fa fa-plus-circle"></i> Sign up</a>-->
                                    <button ng-click="resetPassword()" class="btn btn-success btn-sm bounceIn animation-delay4 login-link"><i class="fa fa-plus-circle"></i> Reset Password</button>
                                </div>
                            </div><!-- /form-group -->
                        </form>
                    </div>
                </div><!-- /panel -->
            </div><!-- /login-widget -->
        </div><!-- /login-wrapper -->

    </div>
</div>
